<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Ideas @ DiyComputerScience.com</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.png" />
</head>
<body>
	<div id="header">
		<div class="logo"></div>
		<div id="navigation">
			<ul id="nav" class="menu">
			</ul>
		</div> <!-- end navigation -->
	</div> <!-- end header -->
	<div id="container">
		<div id="content">
			<div class="padder">
				{% block content %}{% endblock %}
			</div> <!-- end padder -->
		</div> <!-- end content -->
	
	
		<div  id="sidebar">
			<div>
                            <div>&nbsp;</div>
                            <div>
                                <a href="http://diycomputerscience.com"><img src="/static/images/everyone_orange.jpg"></a>
                            </div>
			</div>
		</div> <!-- end sidebar -->
	</div> <!-- end container -->
	<div style="clear: both;"></div>
	
	<div id="footer">
		<div class="site">
			<div class="info">
        			<div class="links">
			<p>
				<a href="#">FAQ</a>    
			</p>
			<p>
			    <div style="margin-bottom: 5px;"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/></div> 						<div style="margin-bottom: 25px;">Except where otherwise noted, all content on diycomputerscience.com is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License.</a></div>							
			</p>
			</div>
			</div>
		</div>
	</div> <!-- footer end -->
{{ga|safe}}
</body>
</html>

